@import url(https://raw.githubusercontent.com/switchkr/switch-css/main/e.css); /*Auto Update URL | DO NOT TOUCH*/
/*THIS IS A TEST CSS (USE .3 UI SCALE FOR BEST) */
:root {
    --menu-bg-color: rgba(255, 255, 255, 1);
    --menu-bg-color-secondary: rgba(230, 230, 230, 1);
}
/*English Font*/
@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2);
}
@font-face {
    font-family: hpammo;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2);
}
