/*THIS IS A TEST CSS (USE .3 UI SCALE FOR BEST) */
:root {
    --menu-bg-color: rgba(255, 255, 255, 1);
    --menu-bg-color-secondary: rgba(230, 230, 230, 1);
}
/*English Font*/
@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2);
}
@font-face {
    font-family: hpammo;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2);
}
#mainLogo, #seasonLabel {
    display: none !important;
}
.terms:nth-last-child(2)::before {
    content: "made by switch#0001";
    margin-right: 20px;
}
.headerBarLeft {
    background-color: transparent;
}
#mLevelCont {
    background-color: transparent;
}
#customizeButton {
    display: inline-block;
    text-align: center;
    padding: 15px;
    font-size: 23px;
    pointer-events: all;
    padding-bottom: 22px; 
}
#newsHolder {
    display: none;
}
.imageButton {
    display: none !important;
    background-color: transparent;
}
#editorBtnM {
    display: none;
}
.headerBarRight {
    background-color: transparent;
}
#streamContainer {
    display: none;
}
#youNewDiv {
    display: none;
}
#menuItemContainer{
	width: fit-content;
    height: min-content;
    top: -33px;
    left: 38%;
    flex-direction: row;

}
#menuItemContainer::after {
	content: url(https://media.discordapp.net/attachments/800859908828168232/843619177935929344/ddasdasdas.png);
	position: absolute !important;
	top: 15px; /* adjust */
	pointer-events: auto;
	transition: 1s; /* adjust if you want */
	z-index: 999;
	transform: translateY(-3%);
	width: fit-content;
    height: min-content;
    

}
 
#menuItemContainer::before {
	content: '';
	position: absolute !important;
    width: fit-content;
    height: min-content;
    top: 50px;
    flex-direction: row;
	pointer-events: auto;
	transition: 0.3s; /* adjust if you want */ 
	border-left: 10px red; /* adjust size for all of these */
	border-top: 0px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;
	width: fit-content;
    height: min-content;
}
 #menuItemContainer:hover {
	transform: translateY(100px); /* adjust, this is just a value to start with */
	transition: 0.3s;
}

.menuItem {
    align-items: center;
    background: transparent;
    padding-bottom: 5px;
    padding-left: 22px;
    padding-right: 22px;
    pointer-events: none;
}

.menuItem:hover {
    background: transparent;
    color: white;
    border-left: none;
}

.menuItem:active {
    background: transparent;
    color: white;
}

.menuItem .menuItemTitle {
    margin-top: 0;
    color: white !important;
    font-size: 18px !important;
    text-transform: var(--text-transform);
    pointer-events: all;
    transition: all .2s;
}

.menuItemTitle:hover {
    color: var(--accent-color) !important;
}

.menuItem .menuItemIcon {
    position: relative;
    width: 100%;
    height: 45%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}
#instructions {
    color: rgb(255 255 255 / 0%);
    animation: grow .85s infinite alternate;
    background-image: url(https://fanart.tv/api/download.php?type=download&image=93966&section=1);
    height: 306px;
    width: 645px;
    left: 1400px;
}
#subLogoButtons {
    bottom: 50px;
    transform: translateX(-50%)
}

#menuBtnHost {
    visibility: hidden;
    font-size: 0 !important;
}

#menuBtnHost::after {
    visibility: visible;
    font-size: 18px !important;
    content: 'Host';
    text-transform: var(--text-transform);
}
.standout::before {
    content: 'switchcss.carrd.co';
    font-size: 18px;
    margin-right: 22px;
    color: rgba(255, 255, 255, .5);
    visibility: visible;
}
#uiBase.onMenu #spectButton {
	position: fixed;
	left: 20px;
	top: 85px;
	transform: none;
	text-transform: var(--text-transform);
}

#spectButton :not(.switchsml) {
    color: white !important;
}
.button {
    background-color: transparent !important;
    color: white !important;
    text-shadow: none !important;
    box-shadow: none !important;
    text-transform: var(--text-transform);
}

.button:hover {
    background-color: transparent !important;
    color: var(--accent-color) !important;
    -webkit-transform: none;
    transform: none;
}

.button.small {
    font-size: 18px !important;
    text-shadow: none !important;
    box-shadow: none !important;
}

.button.small:hover {
    background-color: transparent !important;
}

.buttonPI {
    box-shadow: none !important;
}

.buttonPI:hover {
    box-shadow: none !important;
}

.buttonR {
    box-shadow: none !important;
}

.buttonR:hover {
    box-shadow: none !important;
}

.buttonP {
    box-shadow: none !important;
}

.buttonP:hover {
    box-shadow: none !important;
}

.buttonG {
    box-shadow: none !important;
}

.buttonG:hover {
    box-shadow: none !important;
}
#chatInput {
    background-color: var(--ingame-bg-color) !important;
    color: white !important;
    font-size: 16px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

#chatInput::placeholder {
    color: rgba(255, 255, 255, .5) !important;
    text-transform: var(--text-transform);
}

#chatHolder {
    bottom: 20px !important;
    left: 20px !important;
    border-radius: 10px;
    background-color: var(--ingame-bg-color);
}

.chatItem {
    border-radius: 0;
    background-color: transparent !important;
}

.chatMsg[style*="color:#fc03ec"] {
	color: var(--accent-color) !important;
}
#ot-sdk-btn-floating {
    transform: translateX(-50000%) scale(.8);
}
#hudClassIcon {
    width: 80px;
    height: 80px;
    bottom: 36px;
    right: 20px;
    border-radius: 0;
    margin-right: 0;
    display: block;
    position: fixed;
    background-color: transparent;
}

#hudClassImg {
    border-radius: 0;
}

#healthValueHolder {
    padding: 0;
    margin: 0;
    position: fixed;
    left: calc(50% - 132px);
    bottom: 64px;
    background-color: transparent;
}

#healthValue {
    color: white;z
    font-size: 64px;
    text-shadow: 8px 4px var(--accent);
    filter: drop-shadow(2px 2px var( --accent)) drop-shadow(-2px -2px var(--accent)) drop-shadow(-2px 2px var(--accent)) drop-shadow(2px -2px var(--accent));
}

#healthValue::after {
    content: "HP";
    font-size: 24px;
    margin-left: 16px;
    color: var(--hp-ammo);
    text-shadow: 4px 2px var(--accent);
}

#maxHP {
    display: none;
}

#challIcon {
    display: none;
}

#bottomLeftHolder::before {
    content: " ";
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26f04d67-0e0d-4375-93e7-82c9cfc22b80/dcyji16-1e3f53f4-115e-4c8a-babf-fd86888e9c6b.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjZmMDRkNjctMGUwZC00Mzc1LTkzZTctODJjOWNmYzIyYjgwXC9kY3lqaTE2LTFlM2Y1M2Y0LTExNWUtNGM4YS1iYWJmLWZkODY4ODhlOWM2Yi5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Uvd3k0h1H8BcPMHuf0hJONPs7aU9_FbwWkR14uH-i1U);
    background-size: 300px;
    background-position-x: center;
    background-position-y: top;
    width: 320px;
    height: 320px;
    position: fixed;
    padding: 0;
    border-radius: 0px;
    bottom: 0;
    left: calc(50% - 420px);
    z-index: -2;
    filter: drop-shadow(8px 4px var(--accent));
    opacity: var(--mascot-opacity);
}

#healthBar {
    width: 280px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    background-color: transparent;
    border-radius: 0;
    position: fixed;
    left: calc(50% - 140px);
    bottom: 40px;
    color: white;
}

.healthBarSeg {
    width: -webkit-fill-available;
    margin: 0 -1px;
    border-radius: 0;
    background-color: transparent;
}

.hpBSeg {
    border-radius: 0;
    box-shadow: none;
}

.hpBSeg[style*="#cd3732"] {
    background-color: var(--accent) !important;
}
#ammoDisplay {
    transform: unset;
    background-color: transparent;
    position: fixed;
    left: calc(50% - 40px);
    bottom: calc(50% - 60px);
    height: 8px;
    width: 80px;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(var(--accent), var(--accent));
}

#ammoVal {
    color: white;
    font-size: 96px;
    display: inline-block;
    position: fixed;
    left: calc(50% + 180px);
    bottom: 20px;
    text-shadow: 12px 6px var(--accent);
    filter: drop-shadow(2px 2px var(--accent)) drop-shadow(-2px -2px var(--accent)) drop-shadow(-2px 2px var(--accent)) drop-shadow(2px -2px var(--accent));
}

#ammoMax {
    display: none;
}

#ammoIcon {
    display: none;
}

#reloadMsg {
    bottom: calc(50% - 200px);
    background-image: none;
    color: var(--accent);
    font-family: 'Material Icons';
    font-size: 0;
    animation: breathe 1s infinite alternate;
}

#reloadMsg::before {
    content: "report_problem";
    font-size: 64px;
}

.killStreakItem {
    background-color: #000;
    position: fixed;
    bottom: 20px;
    left: calc(50% + 320px);
    box-shadow: 6px 6px var(--accent);
}
#weapDisplay {
    bottom: 30px;
    right: 160px;
}

.weapItem {
    position: absolute;
    bottom: 0;
    right: 0;
}

.weapIcon {
    filter: brightness(var(--weapon-icon-brightness)) drop-shadow(2px 2px var(--accent)) drop-shadow(-2px -2px var(--accent)) drop-shadow(-2px 2px var(--accent)) drop-shadow(2px -2px var(--accent)) drop-shadow(4px 4px 0px var(--accent));
    opacity: 0 !important;
    transition-duration: 0.25s;
    height: 0;
    width: 160px;
}

.weapIcon[style*="1"] {
    opacity: 1 !important;
    height: 80px;
}

#weapIconMel {
    margin: 0 !important;
}

.weapKey {
    display: none;
}
#timerDisplay {
    border-radius: 0;
    background-color: var(--bg-color);
    box-shadow: 8px 8px var(--accent);
    padding: 8px 16px;
}

#timerDisplay::before {
    content: "TIME LEFT";
    background-color: transparent;
    color: #fff;
    padding: 0 4px;
    position: absolute;
    bottom: 8px;
    left: -16px;
}

#timerVal {
    font-size: 48px;
    color: white; 
}

#timerIcon {
    display: none;
}

.debugInfo {
    display: grid;
    margin-top: 12px;
}

#fpsDisplay {
    width: 120px;
}

#ingameFPS {
    color: white !important;
}

#pingDisplay {
    grid-column: 2;
}

#pingText, #ingressPacketCount, #ingressDataSize, #egressPacketCount, #egressDataSize {
    color: white;
}

#pingText::after {
    content: " ms";
    color: rgba(255,255,255,.5);
}

#pingIcon {
    display: none;
}

#curGameInfo {
    display: none;
}

#teamScores {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 0;
    box-shadow: 6px 6px var(--accent);
}

#teamScores[style="display: inline-block;"] {
    display: flex !important;
}

.tScore:first-child {
    direction: rtl;
}

.tScoreC {
    background-color: var(--accent);
    border-radius: 50%;
}

#tScoreC1 {
    margin-left: 10px;
}

.tScoreT {
    font-size: 32px;
    color: #fff;
}

#gameMessage {
    top: 96px;
}

#leaderDisplay {
    background-color: var(--bg-color);
    border-radius: 0;
    box-shadow: 8px 8px var(--accent);
    padding-top: 32px;
    margin-right: 12px;
}

#leaderDisplay::before {
    content: "OPPONENTS";
    display: block;
    background-color: #000;
    color: #fff;
    position: absolute;
    font-size: 16px;
    padding: 0 4px;
    top: 8px;
    right: -8px;
}

.leaderItem {
    font-size: 24px;
}

.leaderName {
    color: gray;
}

.leaderCounter, .leaderNameM, .leaderScore {
    color: white;
}

.leaderNameF {
    color: white;
    opacity: 0.5;
}

.topRightCounters {
    position: fixed;
    top: 50%;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: auto !important;
    transform: translateY(-50%);
}

.countIcon {
    background-color: transparent;
    border-radius: 0;
    font-size: 32px;
}

#killsIcon, #deathsIcon, #streakIcon, #kdIcon {
    height: 24px;
    width: 24px;
}

.countIcon .material-icons {
    font-size: 28px !important;
}
#menuWindow {
	animation: pog .4s alternate;
}
@keyframes pog {
    0%  {left: 50%; top: 110%;}
	100% {left: 50%; top: 50%;}
}
#termsInfo {
    background-color: transparent;
}
#aContainer  {
    display: none!important;
}
#aHolder {
    display: none!important;
  }
#endAContainer {
    display: none!important;
  }
#aMerger {
    display: none!important;
  }
